<div class="hero-photo">
  <div class="row">
    <div class="columns small-12">
      <h1 class="text-centered">Save The Arts</h1>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <p>Donald Trump has threatened to eliminate the National Endowment for the Arts. The NEA is just 0.012% of the federal budget, but
      supports thousands of local music, art, and theater programs nationwide. This is not about the budget, this is about Trump waging
      war on arts and culture. <span class="lead"><i>We can and must say no.</i></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <h3>How To Help</h3>
      <ol>
        <li>Enter your Zipcode to learn about programs the NEA has supported near you.</li>
        <li>Call your congressperson (will be on the same page), tell them that you want them to Save The NEA, and read them a list of the programs that have been supported in their district that you believe are important.</li>
        <li>Tell your friends. Share this site and get everyone you know to call their congresspeople.</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-centered">
      <%= form_tag "/zip", method: 'GET' do %>
        <%= text_field "code", @zipcode.code, placeholder: "Enter your zipcode" %>
        <%= submit_tag "Go", class: 'button primary' %>
      <% end %>
    </div>
  </div>
</div>

