<div class="hero-photo">
  <div class="opacity-layer">
  </div>
  <div class="zipcode-form-container">
    <h2 class="pre-hover">Imagine a world without art</h2>
    <h2 class="post-hover">Find out what's disappearing in your<br/>neighborhood</h2>
    <%= form_tag "/zip", method: 'GET' do %>
      <%= text_field "code", @zipcode.code, placeholder: "Type your ZIP code", class: 'zipcode-search' %>
    <% end %>
  </div>
</div>

